header {
    font-size: 7.2rem;
    padding: 40px;
}

li {
    width: 500px;
    padding: 50px;
    font-size: 2.8rem;
    margin-bottom: 25px;
}

footer {
    padding: 20px 0;
    font-size: 1.5rem;
}